{% extends "main/header.html" %}

{% block title %}救護案件修改{% endblock title %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">救護案件列表修改</h1>
    <!-- Edit Code -->
    <div class="card shadow mb-4">
        <div class="card-header py-3"></div>
        <div class="card-body">
            <form action="" method="POST" enctype="multipart/form-dat">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="upd_bt" value="add" class="btn btn-primary">修改</button>
            </form>
        </div>
    </div>
{% endblock content %}