{% extends "main/header.html" %}
{% load static %}

{% block title %}使用紀錄{% endblock title %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">使用記錄</h1>
    <!-- Table Code -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        </div>
        <div class="card-body">
            <div class="table">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>標號</th>
                            <th>行為</th>
                            <th>IP</th>
                            <th>內容</th>
                            <th>使用者</th>
                            <th>時間</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in record_table %}
                            <tr>
                                <td>{{ record.id }}</td>
                                <td>{{ record.Active }}</td>
                                <td>{{ record.IP }}</td>
                                <td>{{ record.Content }}</td>
                                <td>{{ record.Member }}</td>
                                <td>{{ record.DateTime|date:"Y/m/d H:m:s" }}</td>  
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
{% endblock content %}
